:root{
    /* delcarando variáveis dentro CSS, tem que ser no ":root"
    vamos declarar as cores principais do site, pq se precisarmos
    trocar, não precisaremos trocar em todos os lugares.*/
    --vermelho: #E50914;
    --preta:#141414;   

}

*{ 
    /* usando o (*) ele é aplicado em todo o documento*/
    /* reset nas definições padrão*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* esse último comando é para manter o tamanho dos elementos sem sair da caixa*/    
}

/*ELEMENTOS BASE*/

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex; /*maneira de alinhar os elementos em tela*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /*da um distência entre os elementos*/
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px; /*distanciou entre os menus de navegação*/

}

header nav a:hover{
    color: #fff;
}

/*FILME PRINCIPAL*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/matrixcapa.jpg'); /*Para por a imagem no fundo*/
    /*o linear-gradinete foi para escurecer um pouco a imagem e o texto ficar legível*/
    height: 500px;
    background-size: cover; /*Para a imagem ficar inteira na caixa*/

    display: flex;
    flex-direction: column;
    justify-content: center; /*O justify sempre segue a direção do flex-direction*/
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;       
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all; /*Um tempo para a transicao do botao ocorrer*/
}

.botao:hover{ /*Somente para mudar as cores do botao quando passar o mouse*/
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
    /*modificacoes em 'containers', modifica toda a familia*/
    /*Esse width deixa o texto ocupamento sempre 60% da tela*/
}

.box-film{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-filmes{
    margin-top: 5px;
}